/* *************************************************************************
                                    TABLET
/* ********************************************************************** */

@media screen and (min-width: 768px) { 
    /* ****************************** Main Header **************************** */
   
    #myNavbar ul li {
        display: inline-block;
    }

    #myNavbar ul {
        text-align: center;
    }   
    
/* ***************************  Generic Content *************************** */

    .main-content {
        margin-top: 95px;
    }
/* ***************************  Index.html ********************************* */

    nav li a:hover {
        border-bottom: solid 2px#ff3c75;
        color: black;
    }

    #buy-button {
        width: 100%;
    }

    #header-image {
        width: 70%;
    } 

    .book-item-container {
        width: 60%;
        height: 325px;
    }

    .book-cover-image {
        height: 325px;
    }

    p.book-cover-text {
        transform: translateY(50%);
    }

    .book-themes-container {
        height: 400px;
        flex-direction: row;
    }

    .theme-text-container-love, .theme-text-container-desire,
    .theme-text-container-pleasure, .theme-text-container-pain {
        height: 300px;
    }

    .theme-text-love, .theme-text-desire,
    .theme-text-pleasure, .theme-text-pain {
        width: 70%;
    }

/* ***********************  Author.html ************************* */

    .author-container {
        padding-top: 80px;
        width: 60%;
    }

    .author-title {
        font-size: 52px;
        padding: 20px 0 20px 0;
    }

    .author-text-one, .author-text-two {
        font-size: 24px;
    }

    /* ***************************  Chapter-one.html ********************************* */

    .chapter-subtitle-text {
        font-size: 22px;
    }
  
    .chapter-text {
        font-size: 18px;
        width: 100%;
    }

/* ***************************  Contact.html ********************************* */

    form {
        width: 70%;
    }
}

/* *************************************************************************
                                    LAPTOP
/* ********************************************************************** */

@media screen and (min-width: 1024px) { 

    /* ****************************** Main Header **************************** */

    .flex-header {
        display: flex;
        height: 80px;
        padding-top: 20px;
        justify-content: space-between;
    }
    
    h1 {
        padding-top: 0;
        margin-left: 5%;
    }
    
    .nav li a {
        padding: 7px;
        font-size: 18px;
        padding-right: 20px;
    }


/* ***************************  Index.html ********************************* */

    .main-content {
        background: #f7f7f7;
    }

    .main-content-author, .main-content-blurb {
        margin-top: 95px;
    }

    #header-image {
        width: 70%;
    } 

    h3 {
        padding-top: 50px;
    }

    .book-promo-container {
        margin-bottom: 100px;
    }

    .book-item-container {
        width: 50%;
        height: 350px;
        padding-bottom: 100px;
    }

    .book-cover-image {
        height: 350px;
    }

    p.book-cover-text {
        font-size: 18px;
        transform: translateY(60%);
    }

    .themes-item-container-love, .themes-item-container-desire,
    .themes-item-container-pleasure, .themes-item-container-pain {
        flex-direction: row;
    }

    .themes-item-container-desire, .themes-item-container-pain {
        flex-direction: row-reverse;
        padding-top: 0;
    }

    .themes-item-container-pleasure {
        padding-top: 0;
    }

    .themes-title {
        padding: 100px 0 20px 0;
    }

    .theme-text-love, .theme-text-desire,
    .theme-text-pleasure, .theme-text-pain {
        padding-top: 50px;
    }

/* ***************************  Blurb.html ********************************* */

    .blurb-text {
        width: 60%;
    }

/* ***************************  Chapter-one.html ********************************* */

    .chapter-subtitle-text {
        font-size: 22px;
    }

    .chapter-text {
        font-size: 18px;
        width: 100%;
    }    

/* ***************************  Contact.html ********************************* */

    form {
        width: 60%;
    }    

}

/* *************************************************************************
                                    DESKTOP
/* ********************************************************************** */

@media screen and (min-width: 1440px) { 
    /* ****************************** Main Header **************************** */

    h1 {
        font-size: 42px;
    }
    
    nav li a {
        font-size: 22px;
        margin-right: 40px;
    }

/* ***************************  Index.html ********************************* */

    #header-image {
        width: 50%;
    } 

    .book-item-container {
        width: 40%;
        height: 400px;
    }

    .book-cover-image {
        height: 400px;
    }

    p.book-cover-text {
        transform: translateY(80%);
    }

    /* ***********************  Footer ******************** */

    .footer-icon {
        font-size: 40px;
    }

/* ***************************  Chapter-one.html ********************************* */

    .chapter-subtitle-text {
        font-size: 22px;
    }

    .chapter-text {
        font-size: 18px;
        width: 100%;
    }  

/* ***************************  Contact.html ********************************* */

    form {
        width: 50%;
    }    
        
}

/* *************************************************************************
                                    WIDESCREEN
/* ********************************************************************** */

@media screen and (min-width: 1860px) { 
    /* ****************************** Main Header **************************** */
    
    h1 {
        font-size: 48px;
    }
    
    nav li a {
        font-size: 28px;
        margin-right: 40px;
    }

/* ***************************  Index.html ********************************* */

    #header-image {
        width: 30%;
    }     

    .book-item-container {
        width: 30%;
    }

/* ***************************  Contact.html ********************************* */

    form {
        width: 40%;
    }      

}